# Configuration file

clipboard {
    I:0 <
        10
        0
        0
        10
        0
        14
        66
        108
        111
        99
        107
        69
        110
        116
        105
        116
        121
        84
        97
        103
        8
        0
        1
        98
        0
        29
        109
        105
        110
        101
        99
        114
        97
        102
        116
        37
        51
        65
        115
        97
        110
        100
        63
        118
        97
        114
        105
        97
        110
        116
        61
        115
        97
        110
        100
        3
        0
        1
        115
        0
        0
        0
        63
        1
        0
        2
        110
        99
        0
        7
        0
        1
        88
        0
        0
        0
        61
        120
        -38
        99
        98
        18
        -56
        -51
        -52
        75
        77
        46
        74
        76
        43
        81
        53
        118
        76
        -52
        44
        -78
        103
        -112
        69
        22
        41
        78
        -52
        75
        -79
        47
        75
        44
        -54
        76
        -52
        43
        -79
        5
        113
        24
        24
        26
        88
        -2
        15
        32
        -40
        -1
        127
        20
        12
        36
        -8
        14
        -60
        0
        -69
        112
        15
        104
        3
        0
        2
        108
        118
        0
        0
        0
        0
        0
        0
     >
    I:1 <
        10
        0
        0
        10
        0
        14
        66
        108
        111
        99
        107
        69
        110
        116
        105
        116
        121
        84
        97
        103
        8
        0
        1
        98
        0
        29
        109
        105
        110
        101
        99
        114
        97
        102
        116
        37
        51
        65
        103
        114
        97
        115
        115
        63
        115
        110
        111
        119
        121
        61
        102
        97
        108
        115
        101
        3
        0
        1
        115
        0
        0
        0
        63
        1
        0
        2
        110
        99
        0
        7
        0
        1
        88
        0
        0
        0
        -125
        120
        -38
        99
        98
        18
        -56
        -51
        -52
        75
        77
        46
        74
        76
        43
        81
        53
        118
        76
        -52
        44
        -78
        103
        -112
        69
        22
        73
        47
        74
        44
        46
        -74
        47
        -50
        -53
        47
        -81
        -76
        77
        75
        -52
        41
        78
        101
        96
        104
        96
        -7
        63
        10
        -56
        7
        119
        -16
        -54
        -2
        -5
        -1
        -125
        -128
        -2
        15
        -1
        -1
        -32
        -48
        -7
        -1
        -1
        -125
        -1
        -1
        127
        50
        -4
        -65
        -128
        83
        -2
        -49
        -1
        115
        127
        24
        -2
        93
        0
        -38
        -15
        3
        -56
        -2
        3
        20
        3
        97
        8
        57
        3
        72
        50
        -4
        -25
        -104
        -53
        0
        36
        97
        -30
        48
        -8
        -29
        -1
        -49
        -1
        7
        -2
        127
        -7
        -34
        112
        -65
        -31
        7
        -61
        127
        5
        0
        -93
        -39
        4
        -104
        3
        0
        2
        108
        118
        0
        0
        0
        0
        0
        0
     >
    I:2 <
        10
        0
        0
        10
        0
        14
        66
        108
        111
        99
        107
        69
        110
        116
        105
        116
        121
        84
        97
        103
        8
        0
        1
        98
        0
        41
        109
        105
        110
        101
        99
        114
        97
        102
        116
        37
        51
        65
        100
        105
        114
        116
        63
        115
        110
        111
        119
        121
        61
        102
        97
        108
        115
        101
        38
        118
        97
        114
        105
        97
        110
        116
        61
        100
        105
        114
        116
        3
        0
        1
        115
        0
        0
        0
        63
        1
        0
        2
        110
        99
        0
        7
        0
        1
        88
        0
        0
        0
        85
        120
        -38
        99
        98
        18
        -56
        -51
        -52
        75
        77
        46
        74
        76
        43
        81
        53
        118
        76
        -52
        44
        -78
        103
        -48
        68
        22
        73
        -55
        44
        42
        -79
        47
        -50
        -53
        47
        -81
        -76
        77
        75
        -52
        41
        78
        85
        43
        75
        44
        -54
        76
        -52
        43
        -79
        5
        73
        48
        48
        52
        -80
        -4
        31
        5
        -61
        23
        124
        -4
        -1
        25
        93
        -24
        15
        -120
        -112
        -1
        103
        -1
        -1
        -8
        -1
        126
        -96
        -4
        99
        0
        -82
        -92
        17
        -12
        3
        0
        2
        108
        118
        0
        0
        0
        0
        0
        0
     >
    I:3 <
        10
        0
        0
        10
        0
        14
        66
        108
        111
        99
        107
        69
        110
        116
        105
        116
        121
        84
        97
        103
        8
        0
        1
        98
        0
        29
        109
        105
        110
        101
        99
        114
        97
        102
        116
        37
        51
        65
        115
        97
        110
        100
        63
        118
        97
        114
        105
        97
        110
        116
        61
        115
        97
        110
        100
        3
        0
        1
        115
        0
        0
        0
        63
        1
        0
        2
        110
        99
        0
        7
        0
        1
        88
        0
        0
        0
        65
        120
        -38
        99
        98
        18
        -56
        -51
        -52
        75
        77
        46
        74
        76
        43
        81
        53
        118
        76
        -52
        44
        -78
        103
        -112
        69
        22
        41
        78
        -52
        75
        -79
        47
        75
        44
        -54
        76
        -52
        43
        -79
        5
        113
        24
        24
        26
        88
        -2
        15
        46
        -16
        -113
        -128
        -20
        63
        34
        116
        15
        -68
        25
        67
        8
        0
        0
        16
        -94
        15
        -91
        3
        0
        2
        108
        118
        0
        0
        0
        0
        0
        0
     >
}


